# Astro / Node
node_modules/
dist/
.astro/
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.production

# Python & Environment
__pycache__/
*.pyc
.env
.venv
env/
venv/

# Large Raw Data Files (Keep Parquet & CSV yang sudah diproses)
datasets/data_gpm_indonesia/
datasets/data_gpm_realtime/
*.nc4

# Jupyter Checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
